@import '../../../../assets/styles/index.scss';

.message_input {
  height: 80px;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.form {
  display: flex;
  align-items: center;
}

.send {
  width: 25px;
  height: 25px;
  border: none;
  outline: none;
  background-color: $default-background-color-light;
  background-size: 25px 25px;
  background-image: url(../../../../assets/icons/send.svg);
  margin: 0 5px;
}

.input_text {
  height: 30px;
  margin: 10px 20px;
  width: calc(100% - 100px);
  border: none;
  background-color: $light-background-color;
  padding-left: 10px;
}

.input_text:focus {
  outline: none;
}