* {
  margin: 0;
  box-sizing: border-box;
}

body {
  font-size: 1.6rem;
  font-weight: normal;
  background: linear-gradient(to bottom, $brand-color 0%, $brand-color 20%, $default-background-color 20%);
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

html {
  font-size: 10px;
  font-family: 'Noto Sans', sans-serif;
}

h1 {
  text-align: center;
}

h2 {
  font-size: 1.8rem;
  text-align: center;
}
